// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article h1 { 
	font-size: 1.8em!important;
	line-height: 1.2em; 
}

article h2 {
	margin-bottom: 0.2em;
}

article h3 { 
	font-size: 0.9em!important;
	line-height: 1.2em; 
}

article header {
	padding-top: 0px;
}

pre, code, tt { 
  @extend .mono; 
  background-color: $brick!important;
}

.categories {
  .category {
  	font-size: 90%;
  }
}

article .entry-content {
	margin-top: 10px;
}

article header {
	margin-bottom: 0.5em;
}

p code {
	font-size: 0.9em;
	color: $black!important;
}

body header {
	min-height: 0px;
}

footer {
	line-height: 20px;
	padding-bottom: 0px!important;
}

ul#my_info li {
	margin: 0px;
	padding: 0px;
}

